* {
    font-family: Inter;

}

body {
    font-family: Arial, sans-serif;
    color: #4C4C4C;
    margin: 0;
    padding: 0;
    /* Esto añade un margen de 20px a los lados */

}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-top: 0px;
    height: 80px;
    padding: 0 100px;


}

.header-container {
    display: flex;
    align-items: center;
    color: #00A3FF;

}


.header-logo {
    width: 45px;
    height: 50px;
    margin-right: 5px;
}

h1 {
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    font-size: 25px;
    /* 171.429% */

}


.logo-security {
    width: 30px;
    margin-left: 10px;
}

.header-container p {
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

/* MAIN */
main {
    margin: 0 12%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;

}

h3 {
    color: #00A3FF;
    text-align: center;
}

.welcome-container {
    padding: 20px;
    text-align: center;
    margin-bottom: 200px;
}

.welcome-container h3 {
    font-size: 25px;
}


.back-to-shop {
    margin-top: 40px;
}

.back-to-shop a {
    text-decoration: none;
    color: var(--neutrals-neutral-06, #8B8B8B);
    /* Cambia este color según tus necesidades */
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;

}

.back-to-shop a:hover {
    text-decoration: underline;
}

.back-to-shop a span {
    margin-right: 5px;
}

.back-to-shop a p {
    margin: 0;
}

/* Iniciar sesión */

.login-container h3 {
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 40px;
}

.social-login {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social-login button  {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    border: solid 1px #00A3FF;
    font-size: 18px;
    width: 150px;
}

.social-login button a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 100%;

}

.social-login #button-facebook a {
        color: #00A3FF;

}

.social-login #button-google a  {
    color: var(--neutrals-neutral-08, #4C4C4C);
}


button img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

form {
    width: 400px;
    margin: 20px 0 ;
}


.required {
    color: #FF0000;
}

.input-field {
    margin-bottom: 20px;
}

.input-field label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
}

.input-field input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;

    font-family: Arial, sans-serif;
    color: #969090;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;

}

/* Mostrar u ocultar contraseña */
.password-container {
    position: relative;
}


#togglePassword {
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
    color: var(--neutrals-neutral-06, #8B8B8B);
    font-size: 15px;
}

/* Representa el olvido de la contraseña */
.input-field a {
    display: flex;
    justify-content: flex-end;
    text-decoration-line: underline;
    color: #00A3FF;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
}


button[type="submit"] {
    padding: 14px 20px;

    background-color: #00A3FF;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;

    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;


}

button[type="submit"]:hover {
    background-color: #fff;
    color: #00A3FF;
    border: solid 1px #00A3FF;
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.separator .line {
    flex-grow: 1;
    height: 1px;
    background-color: #C5C5C5;
    ;
    /* Cambia este color según tus necesidades */
}

#button-create-cuenta {
    padding: 14px 20px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: 20px 0 40px;

    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #00A3FF;
    border: solid 1px #00A3FF;
    border-radius: 5px;

}

button {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

#button-create-cuenta:hover {
    background-color: #00A3FF;
    color: #fff;
    border-color: #fff;
}

/* FOOTER */
footer {
    border-top: 1px solid #ccc;
    margin-top: 80px;
    height: 80px;
    background: #F5F5F5;
    padding: 0 100px;


}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    /* Esto añade un margen de 20px a los lados */
}

.footer-left,
.footer-right {
    display: flex;
}

.footer-right a {
    text-decoration: none;
    color: #007BFF;
    /* Cambia este color según tus necesidades */
    margin-bottom: 10px;
    margin-left: 10px;
}