* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #4C4C4C;
    margin: 0;
    padding: 0;
    /* Esto añade un margen de 20px a los lados */

}

main {
    padding: 60px 100px 0px;
}

main h2 {
    color: #00A3FF;
    font-size: 26px;
    font-weight: 600;
}


section {
    margin-bottom: 80px;
}

/* informacion productos encontrados */

.search-results-section {
    padding: 20px;
    margin-bottom: 20px;
}

.search-term-intro {
    font-size: 16px;
    color: #4D4D4D;
    margin-bottom: 10px;
}

.search-term {
    font-size: 24px;
    color: #00A3FF;
    margin-bottom: 10px;
}

.divider {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}


/* Information */
.info-container {
    /* Estilos para el contenedor de puntos */
    display: flex;
    justify-content: space-between;
}

.info-point {
    /* Estilos para cada punto */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0px  20px;
    background: #F3F3F3;
    padding: 20px ;
    border-radius: 10px;
}

.info-point img {
    /* Estilos para la imagen de cada punto */
    width: 50px;
    height: 100px;
}

.bold-text {
    font-weight: 600;
    font-size: 17px;
}

.info-point p:last-child {
    /* Estilos para el texto normal de cada punto */
    color: var(--neutrals-neutral-09, #7e7e7e);
    font-style: normal;
    font-weight: 200;


}

/*Productos de la categoria  */
.product-top {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.sort-by select {
    margin-left: 5px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    background: #fff;
    color: rgba(112, 112, 112, 1);
    border: 1px solid #E0E0E0;
    outline: none;
    cursor: pointer;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 30px 20px;
    padding: 30px 0;
    min-width: 17%;
    max-width: 20%;
    border: 1px solid #E0E0E0;
    border-radius: 10px;

}

.product a {
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 25px;

}

.product a img {
    width: 100%;
    height: 150px;
    border-radius: 16px;
    margin-bottom: 20px;
    object-fit: contain;


}

.product a p {
    font-weight: bold;
    font-size: 20px;

}

a h3{
    margin: 15px 0;
    text-align: center;
    color: #00A3FF;
    font-weight: 500;
    text-decoration: none;
    padding: 5px;

}


.cart-button {
    /* Estilos para el botón del carrito de cada producto */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    background: #00A3FF;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    margin: 20px auto 0;
    padding: 4px 0;
    cursor: pointer;
}

.cart-button img {
    /* Estilos para la imagen del carrito en el botón del carrito */
    margin-right: 5px;
}

/* Paginacion de los productos */
.paginacionMenu {
    display: flex;
    justify-content: center;
}

.paginacion {
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.15);
    /* Ajusta estos valores según tus necesidades */

}

.paginacion a {
    color: black;
    float: left;
    padding: 8px 16px;
    border: 1px solid #ECEEEF;
    text-decoration: none;
    color: #00A3FF;

}

.paginacion a.activo {
    color: white;
    border: 1px solid #00A3FF;
    background: #00A3FF;
}

.paginacion a:hover:not(.activo) {
    background-color: #ddd;
}

.paginacion a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.paginacion a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.paginacionMenu button {
    color: #545454;
    padding: 0px 16px;
    border: 1px solid #CCC;
    background: #FFF;
    cursor: pointer;
    margin-left: 50px;
    font-size: 14px;
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.15);
    /* Ajusta estos valores según tus necesidades */
}


/* Marcas */
.brands-container {
    /* Estilos para el contenedor de marcas */
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brand {
    /* Estilos para cada marca */
    flex: 1 0 calc(100% / 8 - 10px);
    /* Esto hace que en una línea caben 8 marcas, asumiendo que el margen entre marcas es de 10px */
    margin: 5px;
    /* Ajusta este valor según tus necesidades */
}

.brand img {
    /* Estilos para la imagen de cada marca */
    width: 100%;
    height: auto;
}

/* Equipo */
#team {
    /* Estilos para la sección del equipo */
    display: flex;
    justify-content: space-between;

}

.team-description {
    /* Estilos para la descripción del equipo */
    width: 30%;
}

.team-description h2 {
    /* Estilos para el título de la descripción del equipo */
    color: #00A3FF;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;

}

.team-description p {
    /* Estilos para el texto de la descripción del equipo */
    text-align: justify;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5;
}

.team-members {
    /* Estilos para el contenedor de miembros del equipo */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 65%;
}

.team-member {
    /* Estilos para cada miembro del equipo */
    flex: 1 0 calc(100% / 4 - 10px);
    /* Esto hace que en una línea caben 4 miembros del equipo, asumiendo que el margen entre miembros es de 10px */
    width: 20%;

    display: flex;
    flex-direction: column;


}

.team-member img {
    /* Estilos para la imagen de cada miembro del equipo */
    height: 100px;
    margin: 0 auto 20px;
}

.team-member h3 {
    /* Estilos para el nombre de cada miembro del equipo */
    text-align: center;
    color: #00A3FF;
    font-weight: 600;
    font-size: 18px;
}

.team-member p {
    /* Estilos para el cargo de cada miembro del equipo */
    text-align: center;
    margin-top: 10px;
    color: #7e7e7e;
}

/* Footer */
/* Controler del corrousel */

.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: #ffffff;
    /* Cambia esto al color que prefieras para las flechas */
    border-radius: 5px;
    background: rgba(196, 196, 196, 0.80);
    width: 40px;
    /* par que esté centrado el <> */
    padding-top: 2px;
    padding-bottom: 6px;
    font-size: 2em;
    /* Cambia esto al tamaño que prefieras para las flechas */
    z-index: 1;
    cursor: pointer;
}

.slick-prev {
    left: -1em;
    /* Cambia esto para mover la flecha izquierda más cerca o más lejos del carrusel */
}

.slick-next {
    right: -1.1em;
    /* Cambia esto para mover la flecha derecha más cerca o más lejos del carrusel */
}

/* Tamano del <> */
.slick-prev i,
.slick-next i {
    font-size: 0.65em;
    /* Ajusta este valor según tus necesidades */
}